:root {
    --fondo:#FFFFFF;
    --oscuro:#1f2933;
    --titulos: #D9E021;
    --interaccion: #D9E021;
    --menuColor: #BCE43F;
    --caja-texto:#2C2C2C;
    --texto-principal:#2C2C2C;
    --texto-clara:#FFFFFF;
    --texto-oscuro:#707070;
    --intercalar-cajas:#F5F5F5;
    --separador:#D8D8D8;

    --header-slider:40px;
    --p-slider:19px;
    --menu-size:18px;

    --h1:40px;
    --h2:22px;
    --h3:18px;
    

    --p-1:18px;
    --p-2:16px;

    --f-title:18px;
    --f-title2:18px;
    --f-p:18px;

    --col-1:8.33%;
    --col-2:16.66%;
    --col-3:25%;
    --col-4:33.33%;;
    --col-5:41.66%;
    --col-6:50%;
    --col-7:58.33%;
    --col-8:66.66%;
    --col-9:75%;
    --col-10:83.33%;
    --col-11:91.66%;
    --col-12:100%;;
    
}
